.lochNessLogo
{
    width:      100px;
    height:     100px;
    background: no-repeat center/100% url("images/lochness.svg");
}

a /* override default styles with inheritence from nessie-ui */
{
    color:               inherit;
    text-decoration:     inherit;

    &:hover,
    &:focus,
    &:active
    {
        color:           inherit;
        text-decoration: inherit;
    }
}
